body {
	font-family: sans-serif;
}

/*Make content area fill the entire browser window 
html,
.fullscreen {
	display: flex;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
*/
html,
.standalone {
	display: flex;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

/* Center the content in the browser window */
.container {
	margin: auto;
	text-align: center;
}

.title{
	font-size: 3rem;
}
/*
Generic styling, for Desktops/Laptops
*/
table {
	width: 100%;
	border-collapse: collapse;
}
/* zebra striping  */
tr:nth-of-type(odd){
	background: #EEEEEE;
}
th {
	background: #333333;
	color: white;
	font-weight: bold;
}
td, th {
	padding: 6px;
	border: 1 px solid #CCCCCC;
	text-align: left;
}
		
